<div class="sidebar">
  <ul>
    <li><a href="#">
        <span class="icon"><i class="fas fa-book"></i></span>
        <span class="title">Books</span>
      </a></li>
    <li><a href="#">
        <span class="icon"><i class="fas fa-file-video"></i></span>
        <span class="title">Movies</span>
      </a></li>
    <li><a href="#">
        <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
        <span class="title">Sports</span>
      </a></li>
    <li><a href="#" class="active">
        <span class="icon"><i class="fas fa-blog"></i></span>
        <span class="title">Blogs</span>
      </a></li>
    <li><a href="#">
        <span class="icon"><i class="fas fa-leaf"></i></span>
        <span class="title">Nature</span>
      </a></li>
  </ul>
</div>
